#branch-icon {
  position: absolute;
  width: 599px;
  top: -214px;
  -ms-transform: rotate(347deg);
  /* IE 9 */
  -webkit-transform: rotate(347deg);
  /* Chrome, Safari, Opera */
  transform: rotate(347deg);
}
#branch-icon * {
  fill: #f46e63;
}
.section-1 .logo {
  opacity: .4;
  position: absolute;
  right: -100px;
  float: left;
  display: inline;
  width: 40%;
  bottom: -320px;
  -ms-transform: rotate(347deg);
  /* IE 9 */
  -webkit-transform: rotate(347deg);
  /* Chrome, Safari, Opera */
  transform: rotate(347deg);
}
.section-1 .logo img {
  width: 100%;
}
.section-2 .editor {
  position: absolute;
  margin-top: -168px;
  height: 600px;
  width: 547px;
}
.section-2 .editor .editor-body {
  height: 300px;
}
.section-2 .editor.dark {
  background: #212122;
}
.section-2 .editor.dark pre {
  color: #e2e5e5;
  background-color: transparent;
}
.section-2 .editor.dark .editor-header {
  background: #212122;
}
.section-2 .editor.dark .editor-header .editor-language {
  color: #e2e5e5;
}
