#branch-icon {
  position: absolute;
  width: 599px;
  top: -214px;
  -ms-transform: rotate(347deg);
  /* IE 9 */
  -webkit-transform: rotate(347deg);
  /* Chrome, Safari, Opera */
  transform: rotate(347deg);
}
#branch-icon * {
  fill: #eb7c53;
}
