@import "../source/import-wrapper";


#branch-icon {
    position:          absolute;
    width:             599px;
    top:               -214px;
    .transform(rotate(347deg));
    * {
        fill: @brand-primary;
    }
}