<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="docs/assets/prod/style.css">
    </head>
    <body>

        <header>
            <div class="logo">
                {{ title }}
            </div>
            <div class="menu">
                <nav>

                </nav>
            </div>
        </header>
        {% for file in docs_includes %}
            <section>
                {% include file %}
            </section>
        {% endfor %}
    </body>
</html>
