body, html {
    background-color: @black;
    position:         absolute;
    width:            100%;
    height:           100%;
    margin:           0;
    padding:          0;
    font-weight:      300;
}

.page-wrapper {
    margin-top: 50px;
    &.has-breadcrumbs {
        padding-top: 50px;
    }

    &.is-docs {
        background-color: @white;
    }

    opacity:    0;
    .transition(opacity .7s @easing-slow);
    &.in {
        opacity: 1;
    }
}

.border-left-light {
    border-left:  1px solid @gray-lighter;
    margin-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.pl-grid {
    padding-left: (@grid-gutter-width / 2);
}

a {
    color: @brand-primary;
    .transition(color .4s @easing-fast);
    &:hover, &:active, &:focus {
        text-decoration: none;
        color:           @brand-secondary;
    }
}

.code-container {
    position:   absolute;
    height:     300px;
    margin-top: -150px;
    code {
        padding:          0;
        font-size:        87%;
        background-color: transparent;
        border-color:     transparent;
        pre {
            &:first-line {
                line-height: 0;
            }
            background-color: transparent;
            border-color:     transparent;
        }
    }
}