@menu-color: @gray-lighter;
@menu-height: 50px;

.menu {
    font-size:        14px;
    position:         fixed;
    top:              0;
    left:             0;
    background-color: @black;
    width:            100%;
    height:           @menu-height;
    margin:           0;
    z-index:          999;
    padding:          0;
    line-height:      @menu-height;

    .logo {
        display: inline-block;
        img {
            display:    inline-block;
            max-height: 30px;
            margin:     10px 0;
        }
        .text {
            color:   white;
            padding: 0 15px 0 10px;
        }
    }

    .social-links {
        li {
            float:   left;
            margin:  0;
            padding: 0 15px;
            .fa:not(.fa-github) {
                height:      @menu-height;
                line-height: @menu-height;
            }
            .fa-github {
                position: relative;
                top:      5px;
            }
        }
        .clearfix();
    }

    .menu-list {
        display:     inline-block;
        line-height: @menu-height;
        color:       @menu-color;
        margin:      0;
        padding:     0;
        li {
            margin:  0;
            padding: 0 15px;
        }
        a {
            color: @menu-color;
            &:hover, &:active, &:focus {
                color: @brand-primary;
            }
        }
    }

}
