section {
    min-height:       500px;
    &.light {
        background-color: @white;
    }
    &.dark {
        background-color: @black;
    }
    &.accent {
        background-color: @accent;
    }
}