.sidebar {
    z-index: 500;
    padding-left: 15px;
    border-left:  3px solid @brand-primary;
    a {
        color: @gray-light;
        &.active {
            color: @brand-primary;
        }
        &:hover, &:active, &:focus {
            color: @brand-primary;
        }
    }
}