.editor {
    @btn-close-color: #dc2c51;
    @btn-minimize-color: #ffae25;
    @btn-fullscreen-color: #47cd6a;
    background:    @white;
    border-radius: 5px;
    box-shadow:    0 8px 12px rgba(0, 0, 0, 0.1);
    overflow:      hidden;
    background:    @black;
    max-height:    500px;
    z-index:       1500;
    .editor-header {
        height:     37px;
        z-index:    1 ;
        background: @black;
        position:   relative;
        margin-top: -1px;
        .box-shadow(0 -222px 50px 250px @black);
        .editor-title {
            position:    absolute;
            line-height: 37px;
            width:       100%;
            height:      100%;
            font-size:   16px;
            text-align:  center;
            color:       @gray-lighter;
        }
        .action-buttons {
            .action-button {
                cursor:        pointer;
                position:      absolute;
                top:           50%;
                left:          10px;
                margin-top:    -5px;
                width:         10px;
                height:        10px;
                border-radius: 50%;
                .transition(opacity .4s @easing-fast);
                &.close-btn {
                    background-color: @btn-close-color;
                }
                &.minimize-btn {
                    left:             25px;
                    background-color: @btn-minimize-color;
                }
                &.fullscreen-btn {
                    left:             40px;
                    background-color: @btn-fullscreen-color;
                }
                &:hover, &:active, &:focus {
                    opacity: 0.5;
                }
            }
        }
        .editor-language {
            float:         right;
            line-height:   38px;
            padding-right: 15px;
            color:         @gray-lighter;
            opacity:       0.4;
            font-weight:   400;
            font-size:     18px;
        }
    }

    .editor-body {
        position: relative;
        height:   100%;
        pre {
            height:           100%;
            color:            @gray-lighter;
            background-color: transparent;
            border-color:     transparent;
            border:           none !important;
            overflow:         auto !important;
            padding:          30px 15px 52px 15px;
            font-size: 16px;
            .transition(font-size .4s @easing-fast);
            code {
                height:           100%;
                padding:          0;
                font-size:        87%;
                background-color: transparent;
                border:           none !important;
            }
        }
    }
    .transition(opacity .6s @easing-fast);
    &.closing {
        opacity: 0;
    }
    &.fullscreen {
        pre {
            font-size: 20px;
        }
    }
}

pre {
    border: none;
    width:  100% !important;
}