.editor {

    background:    @white;
    border-radius: 5px;
    box-shadow:    0 8px 12px rgba(0, 0, 0, 0.1);
    overflow:      hidden;
    background:    @black;
    max-height:    500px;
    z-index:      1500;
    .editor-header {
        height:     37px;
        background: @black;
        position:   relative;
        margin-top: -1px;
        .editor-title {
            position:    absolute;
            line-height: 37px;
            width:       100%;
            height:      100%;
            font-size:   16px;
            text-align:  center;
            color:       @gray-lighter;
        }
        .action-buttons {
            .action-button {
                cursor:        pointer;
                position:      absolute;
                top:           50%;
                left:          10px;
                margin-top:    -5px;
                width:         10px;
                height:        10px;
                border-radius: 50%;
                .transition(background-color .4s @easing-fast);
                &.close-btn {
                    background-color: #DC143C;
                    &:hover, &:active, &:focus {
                        background-color: darken(#DC143C, 15%);
                    }
                }
                &.minimize-btn {
                    left:             25px;
                    background-color: #FFA500;
                    &:hover, &:active, &:focus {
                        background-color: darken(#FFA500, 15%);
                    }
                }
                &.fullscreen-btn {
                    left:             40px;
                    background-color: #32CD32;
                    &:hover, &:active, &:focus {
                        background-color: darken(#32CD32, 15%);
                    }
                }
            }
        }
        .editor-language {
            float:         right;
            line-height:   38px;
            padding-right: 15px;
            color:         @gray-lighter;
            opacity:       0.4;
            font-weight:   400;
            font-size:     18px;
        }
    }

    .editor-body {
        position: relative;
        height:   100%;
        pre {
            height:           100%;
            color:            @gray-lighter;
            background-color: transparent;
            border-color:     transparent;
            border:           none !important;
            overflow:         auto !important;
            padding:          15px;
            padding-bottom:   52px;
            code {
                height:           100%;
                padding:          0;
                font-size:        87%;
                background-color: transparent;
                border:           none !important;
            }
        }
    }
    .transition(transform .6s @easing-fast);
    &.closing {
        .transform-origin(center, center);
        .transform(scale(0));
    }
}

pre {
    border: none;
    width:  100% !important;
}