.gradient-moving {
    overflow: hidden;
    position: relative;
    .gradient {
        position:                 absolute;
        width:                    2400px;
        height:                   2400px;
        left:                     50%;
        top:                      50%;
        margin-left:              -1200px;
        margin-top:               -1200px;
        background:               linear-gradient(219deg, @main, @main 12%, @second 88%, @second);
        background-size:          400% 400%;
        transform:                rotate(0deg) scale(@gradient-moving-bg-scale);
        -ms-transform-origin:     50% 50%;
        -webkit-transform-origin: 50% 50%;
        -webkit-animation:        gradient-moving @gradient-moving-speed @easing infinite;
        -moz-animation:           gradient-moving @gradient-moving-speed @easing infinite;
        animation:                gradient-moving @gradient-moving-speed @easing infinite;
    }
}

.gradient-moving-animation {
    0% {
        transform:           rotate(0deg) scale(@gradient-moving-bg-scale);
        background-position: 0% 14%
    }
    20% {
        transform:           rotate(30deg) scale(@gradient-moving-bg-scale);
        background-position: 50% 35%
    }
    40% {
        transform:           rotate(-30deg) scale(@gradient-moving-bg-scale);
        background-position: 100% 87%
    }
    60% {
        transform:           rotate(60deg) scale(@gradient-moving-bg-scale);
        background-position: 87% 100%
    }
    80% {
        transform:           rotate(-60deg) scale(@gradient-moving-bg-scale);
        background-position: 50% 35%;
    }
    100% {
        transform:           rotate(0deg) scale(@gradient-moving-bg-scale);
        background-position: 0% 14%
    }
}

@-webkit-keyframes gradient-moving {
    .gradient-moving-animation()
}

@-moz-keyframes gradient-moving {
    .gradient-moving-animation()
}

@keyframes gradient-moving {
    .gradient-moving-animation()
}