@import 'https://fonts.googleapis.com/css?family=Jaldi:400,700|Open+Sans:300';

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size:   18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jaldi", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-size:      46px;
    text-transform: uppercase;
}