@import 'https://fonts.googleapis.com/css?family=Jaldi:400,700|Open+Sans:300';

body {
    font-family: "Jaldi", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color:       desaturate(lighten(@black, 20%), 50%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color:       @gray;
}

strong {
    letter-spacing: 0.02em;
}

a {
    .transition(all .5s @easing-fast);
    text-decoration: none;
    &:hover, &:active, &:focus {
        color:           @brand-secondary;
        text-decoration: none;
    }
}