@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
.right {
  float: right;
}
.left {
  float: left;
}
.clear:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
body,
html {
  background-color: #f1f1f1;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
body,
body *,
html,
html * {
  box-sizing: border-box;
}
html {
  font-family: "Arimo", "Helvetica Neue", Helvetiva, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.07em;
}
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul ol li {
  line-height: 1.5rem;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arimo", "Helvetica Neue", Helvetiva, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
table {
  margin-top: 1.5rem;
  border-spacing: 0;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
code {
  vertical-align: bottom;
}
.lead {
  font-size: 1.414rem;
}
.hug {
  margin-top: 0;
}
a {
  color: #5CB9FC;
  text-decoration: none;
}
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: underline;
  color: #5CB9FC;
}
body {
  padding-top: 70px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  background-color: #474F5F;
  color: #fff;
  font-weight: bold;
  vertical-align: bottom;
}
header .head-container {
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}
header .hh {
  height: 25px;
}
body {
  padding-left: 22%;
  padding-top: 0;
}
.sidebar {
  position: fixed;
  left: 0;
  width: 22%;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #474F5F;
}
.content {
  width: 50%;
  padding: 0 25px;
}
.code {
  position: fixed;
  right: 0;
  width: 39%;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #9DA2AC;
}
