@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
.right {
  float: right;
}
.left {
  float: left;
}
.clear:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.list-inline li {
  display: inline-block;
}
body,
html {
  background-color: #fff;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #58626d;
}
body,
html,
body *,
html * {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 15px;
}
ul ol li {
  line-height: 1.5rem;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
li {
  list-style-type: none;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
  font-weight: 300;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
table {
  margin-top: 1.5rem;
  border-spacing: 0;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
code {
  vertical-align: bottom;
}
.lead {
  font-size: 1.414rem;
}
.hug {
  margin-top: 0;
}
b {
  font-weight: 500;
}
a {
  color: #e92d5c;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.55s cubic-bezier(0.35, 1, 0.25, 1);
  -moz-transition: color 0.55s cubic-bezier(0.35, 1, 0.25, 1);
  -ms-transition: color 0.55s cubic-bezier(0.35, 1, 0.25, 1);
  -o-transition: color 0.55s cubic-bezier(0.35, 1, 0.25, 1);
}
a:hover,
a:active,
a:focus {
  color: #2ea8ac !important;
}
body {
  padding-top: 70px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  background-color: #2ea8ac;
  color: #fff;
  font-weight: bold;
  vertical-align: bottom;
}
header .head-container {
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}
header .hh {
  height: 25px;
}
body {
  padding-left: 320px;
  padding-top: 0;
}
.sidebar {
  color: #58626d;
  position: fixed;
  left: 0;
  width: 320px;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  padding-bottom: 100px;
  font-size: 15px;
  border-right: 1px solid #d4d6db;
}
.sidebar .logo {
  font-weight: 200;
  line-height: 16px;
  padding-left: 25px;
}
.sidebar .logo .svg-logo {
  width: 180px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  position: relative;
  left: -13px;
}
.sidebar .logo .title {
  position: absolute;
  top: 85px;
  left: 190px;
  font-weight: 800;
}
.sidebar .api-sidebar {
  display: block;
  padding-left: 25px;
}
.sidebar .api-sidebar,
.sidebar .api-sidebar * {
  font-weight: 200;
  line-height: 21px;
  font-size: 15px;
  letter-spacing: 0.03em;
}
.sidebar .api-sidebar .level-1 a {
  color: #783289;
}
.sidebar .api-sidebar .level-2 a {
  color: #b13073;
}
.sidebar .api-sidebar .level-3 a {
  color: #e92d5c;
}
.content {
  width: 100%;
  padding: 0 25px;
}
.code {
  display: none;
  position: fixed;
  right: 0;
  width: -110%;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #9DA2AC;
}
.namespace-heading {
  font-size: 75px;
  padding-top: 200px;
  border-bottom: 3px solid #e92d5c;
}
.class-model {
  position: relative;
}
.class-model:after {
  content: '';
  position: absolute;
  left: -26px;
  top: 0px;
  bottom: 0px;
  width: 10px;
}
.class-model:nth-child(5n+1):after {
  background-color: #58358a;
  background: -webkit-gradient(linear, left top, left bottom, from(#58358a), to(#2ea8ac));
  background: -webkit-linear-gradient(top, #58358a, #2ea8ac);
  background: -moz-linear-gradient(top, #58358a, #2ea8ac);
  background: -ms-linear-gradient(top, #58358a, #2ea8ac);
  background: -o-linear-gradient(top, #58358a, #2ea8ac);
}
.class-model:nth-child(5n+2):after {
  background-color: #e92d5c;
  background: -webkit-gradient(linear, left top, left bottom, from(#e92d5c), to(#eb6e65));
  background: -webkit-linear-gradient(top, #e92d5c, #eb6e65);
  background: -moz-linear-gradient(top, #e92d5c, #eb6e65);
  background: -ms-linear-gradient(top, #e92d5c, #eb6e65);
  background: -o-linear-gradient(top, #e92d5c, #eb6e65);
}
.class-model:nth-child(5n+3):after {
  background-color: #7f245a;
  background: -webkit-gradient(linear, left top, left bottom, from(#7f245a), to(#b02376));
  background: -webkit-linear-gradient(top, #7f245a, #b02376);
  background: -moz-linear-gradient(top, #7f245a, #b02376);
  background: -ms-linear-gradient(top, #7f245a, #b02376);
  background: -o-linear-gradient(top, #7f245a, #b02376);
}
.class-model:nth-child(5n+4):after {
  background-color: #5a2566;
  background: -webkit-gradient(linear, left top, left bottom, from(#5a2566), to(#78328b));
  background: -webkit-linear-gradient(top, #5a2566, #78328b);
  background: -moz-linear-gradient(top, #5a2566, #78328b);
  background: -ms-linear-gradient(top, #5a2566, #78328b);
  background: -o-linear-gradient(top, #5a2566, #78328b);
}
.class-model:nth-child(5n+5):after {
  background-color: #232a30;
  background: -webkit-gradient(linear, left top, left bottom, from(#232a30), to(#545e68));
  background: -webkit-linear-gradient(top, #232a30, #545e68);
  background: -moz-linear-gradient(top, #232a30, #545e68);
  background: -ms-linear-gradient(top, #232a30, #545e68);
  background: -o-linear-gradient(top, #232a30, #545e68);
}
.class-model ul {
  padding-left: 0;
}
.class-model .description {
  opacity: 0.75;
  font-size: 150%;
  padding-bottom: 35px;
}
.class-model .class-heading {
  font-size: 50px;
  padding-top: 170px;
}
.class-model .methods-heading,
.class-model .properties-heading {
  font-size: 35px;
  padding-bottom: 10px;
  padding-top: 30px;
}
.class-model .property-heading {
  font-size: 18px;
  padding-bottom: 3px;
}
.class-model .method {
  padding-bottom: 20px;
}
.class-model .method-heading {
  font-size: 18px;
  padding-top: 20px;
}
.class-model .method-description {
  font-size: 110%;
  padding-top: 10px;
  padding-bottom: 0px;
}
.class-model .method-signature {
  opacity: 0.5;
  font-size: 13px;
}
/*# sourceMappingURL=../../../api.css.map */