@charset "utf-8";
@import 'variables';

$green: #AEEA28;
$purple: #BF6BBF;
$blue: #65A5F7;
$pink: #F35662;
$gray: #A5BEDA;
$string: #CCB366;
$comment: transparentize($main-bg, .7);


.highlight {
  color: $main-text;
  * {
    line-height: 26px;
  }

  table td {
    padding: 5px;
  }
  table pre {
    margin: 0;
  }
  .w {
    color: $main-text;
  }
  .err {
    color:            #fff;
    background-color: #666;
  }
  .c {
    color: #505050;
  }
  .cd {
    color: #505050;
  }
  .cm {
    color: #505050;
  }
  .c1 {
    color: #505050;
  }
  .cs {
    color: #505050;
  }
  .cp {
    display: none;
    color:   #ff0;
  }
  .nt {
    color: #f4bf75;
  }
  .o {
    color: $purple;
  }
  .ow {
    color: $comment;
  }
  .p {
    color: $comment;
  }
  .pi {
    color: $comment;
  }
  .gi {
    color: $green;
  }
  .gd {
    color: $pink;
  }
  .gh {
    color:            $blue;
    background-color: #151515;
    font-weight:      bold;
  }
  .k {
    color: $gray;
  }
  .kn {
    color: #aa759f;
  }
  .kp {
    color: #aa759f;
  }
  .kr {
    color: #aa759f;
  }
  .kv {
    color: #aa759f;
  }
  .kc {
    color: $pink;
  }
  .kt {
    color: #d28445;
  }
  .kd {
    color: #d28445;
  }
  .s {
    color: $comment;
  }
  .sb {
    color: $comment;
  }
  .sc {
    color: $comment;
  }
  .sd {
    color: $comment;
  }
  .s2 {
    color: $string;
  }
  .sh {
    color: $comment;
  }
  .sx {
    color: $comment;
  }
  .s1 {
    color: $comment;
  }
  .sr {
    color: #75b5aa;
  }
  .si {
    color: #8f5536;
  }
  .se {
    color: #8f5536;
  }
  .nn {
    color: #f4bf75;
  }
  .nc {
    color: $blue;
  }
  .no {
    color: #f4bf75;
  }
  .na {
    color: $blue;
  }
  .m {
    color: $green;
  }
  .mf {
    color: $green;
  }
  .mh {
    color: $green;
  }
  .mi {
    color: $green;
  }
  .il {
    color: $green;
  }
  .mo {
    color: $green;
  }
  .mb {
    color: $green;
  }
  .mx {
    color: $green;
  }
  .ss {
    color: $green;
  }

}