{% extends "page.twig" %}

{% block page %}
    <section class="start">
        {% include "/_bricks/text.twig" with {'file': 'intro'} %}
        <div class="distance">
            <div class="line"></div>
        </div>
        {% include "/_bricks/text.twig" with {'file': 'description'} %}
    </section>
{% endblock %}