{% extends "page.twig" %}

{% block page %}
    <section class="start fullpage">
        <div class="container">
            {% include "/bricks/text.twig" with {'file': 'intro'} %}
            {% include "/bricks/editor.twig" with {'file': 'code1'} %}
        </div>
    </section>
{% endblock %}