{% extends "page.twig" %}

{% block page %}
    <section class="start fullpage">
        <div class="container">
            {% include "/_bricks/text.twig" with {'file': 'intro'} %}
            <div class="distance">
                <div class="line"></div>
            </div>
            {% include "/_bricks/text.twig" with {'file': 'description'} %}


            {#{% include "/_bricks/editor.twig" with {'file': 'creating an instance'} %}#}
        </div>
    </section>
{% endblock %}