<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="docs/assets/prod/style.css">
    </head>
    <body>

        <header>
            <div class="logo">
                {{ title }}
            </div>
            <div class="menu">
                <nav>

                </nav>
            </div>
        </header>
        {% include includes["index"] %}
    </body>
</html>
