<div class="editor">
    <div class="editor-header">
        <div class="action-buttons">
            <div class="action-button btn1"></div>
            <div class="action-button btn2"></div>
            <div class="action-button btn3"></div>
        </div>
        <div class="editor-language">php</div>
    </div>
    <div class="editor-body">
        {{ content[file]|raw }}
    </div>
</div>