<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="{{ repo }}/index.css">
    </head>
    <body class="is-docs">

        <header>
            <div class="head-container">
                <div class="hh"></div>
                <div class="logo left">
                    {{ title }}
                </div>
                <div class="menu right">
                    <nav>
                        <a href="api" title="to api docs">api</a>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        {% for file in includes %}
            <section>
                {% include file %}
            </section>
        {% endfor %}
    </body>
</html>
