<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="docs/assets/prod/style.css">
    </head>
    <body>
        {% for file in includes %}
            {% include file %}
        {% endfor %}

        {% include 'generated/api.html' %}

    </body>
</html>
