@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', serif;
    font-weight: 400;
}

body {
    font-family: 'Cabin', serif;
    color:       #737373;
    background:  #262833;
    margin:      0;
}

main {
    margin: 4% 20%;
}

h1 {
    color:       #E8A746;
    padding-top: 120px;
}

h2 {
    padding-bottom: 30px;
}

footer small {
    font-size: 0.8em;
}

.traces {
    list-style: none;
    padding:    0;
}

.highlight {
    color:       #E8A746;
    font-weight: 700;
}