
body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color:       #898A8E;
    background:  #f1f1f1;
    margin:      0;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

b {
    font-weight: 400;
}

main {
    margin: 4% 20%;
}

h1 {
    color:       #5CB9FC;
    padding-top: 120px;
}

footer small {
    font-size: 0.8em;
}

.traces {
    list-style: none;
    padding:    0;
    height:     47px;
    overflow:   hidden;
    display:    inline-block;
}

.traces:hover, .traces:active, .traces:focus {
    overflow: visible;
    height:   auto;
    cursor:   help;
}

b {
    color:       #5CB9FC;
    font-weight: 300;
}