{% extends "boilerplate.twig" %}

{% block additionalCssBefore %}

{% endblock %}

{% block additionalJavascriptsAfter %}

{% endblock %}


{% block title %}
    {{ title }}
{% endblock %}

{% block content  %}
    {% block menu  %}
        <nav class="menu">
            {% include "/_bricks/menu.twig" with {'page': page, 'menu': menu.index.children, 'level': 0} %}
        </nav>
    {% endblock %}
    {% include "/_bricks/header.twig" %}
    {% block page  %}
    {% endblock %}
    {% include "/_bricks/footer.twig" %}
{% endblock %}