.sidebar {
    color:            @seconday;
    position:         fixed;
    left:             0;
    width:            @sidebar-width;
    top:              0;
    bottom:           0;
    height:           100%;
    background-color: @sidebar-bg;
    overflow-y:       scroll;
    padding-bottom:   100px;
    font-size:        @sidebar-font-size;
    .logo {
        font-weight:  @font-weight;
        line-height:  100px;
        padding-left: 25px;
    }
    .api-sidebar {
        display:      block;
        padding-left: 25px;
        &, * {
            font-weight: @font-weight;
            line-height: ceil(@sidebar-font-size * 1.5);
            font-size:   @sidebar-font-size;
            letter-spacing: 0.03em;
        }
    }
}
