<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="{{ assets }}api.css">
    </head>
    <body class="is-api">

        <header class="sidebar">
            <div class="logo">
                {{ title }}
            </div>
            <div class="menu">
                <nav>

                </nav>
            </div>
        </header>
        .code {

        }
        {% include includes["index"] %}
    </body>
</html>
