<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="/{{ repo }}/api.css">
    </head>
    <body class="is-api">

        <header class="sidebar">
            <div class="logo">
                {{ title }}
            </div>
            <div class="menu">
                <nav>
                    <ul class="api-sidebar">
                        {% include "api/menu.twig" with {'menu':menu} only %}
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            {% include includes["index"] %}
            {% for class in api %}
                {% include class %}
            {% endfor %}
        </div>
        <div class="code"></div>
    </body>
</html>
