{% set parent = parent|lower ~ name|lower ~ "-" %}

{% set level = level + 1 %}

{% if parent == "-" %}
    {% set parent = "" %}
{% endif %}

{% for name,items in menu|sort %}
    <li>
        <a href="#{{ parent }}{{ name|lower }}">
            {{ name }}
        </a>
    </li>
    {% if items %}
        <ul class="level-{{ level }}">
            {% include "api/menu.twig" with {'menu': items, 'parent': parent, 'level': level} %}
        </ul>
    {% endif %}
{% endfor %}
