.breadcrumbs {
    position: fixed;
    top:      @menu-height;
    left:     0;
    right:    0;
    color:    @text-color;
    z-index:  99999;
    padding-top: 30px;
    .sidebar {
        > div {
            .transition(opacity .4s @easing-fast);
            &:nth-child(1) {
                opacity: 0.3;
            }
            &:nth-child(2) {
                opacity: 0.6;
            }
            &:nth-child(3) {
                opacity: 0.9;
            }
            &:hover,&:active,&:focus {
                opacity: 1;
            }
        }
    }

}