.editor {

    &.dark {
        background: #151519;
        pre {
            color: @gray-lighter;
        }
    }

    width:         547px;
    background:    @white;
    border-radius: 0.3rem;
    box-shadow:    0 8px 12px rgba(0, 0, 0, 0.1);
    overflow:      hidden;

    .editor-header {
        height:     37px;
        background: @gray;
        position:   relative;
        margin-top: -1px;
        .action-buttons {
            position:      absolute;
            top:           50%;
            left:          10px;
            margin-top:    -5px;
            width:         10px;
            height:        10px;
            background:    Crimson;
            border-radius: 50%;
            box-shadow:    15px 0 0 Orange, 30px 0 0 LimeGreen;
        }
    }

    .editor-body {
        position: relative;
        height:   300px;
        code {
            padding:          0;
            font-size:        87%;
            background-color: transparent;
            border-color:     transparent;
            pre {
                &:first-line {
                    line-height: 0;
                }
                background-color: transparent;
                border-color:     transparent;
            }
        }
    }
}