<footer>



    <div class="logo-footer text-center">
        <img class="img-responsive center-block" src="{{ basePath }}/assets/img/logo.png" alt="temple">
        <div class="copyright">
            &copy; hvlmnns {{ year }}
        </div>
    </div>

</footer>