<header>
    <div class="container">

        <div class="logo">
            <a href="{{ basePath }}" title="Temple">
            <img class="img-responsive pull-left" src="{{ basePath }}/assets/img/logo.png" alt="temple">
            </a>
            <div class="title pull-left">Temple</div>
        </div>
        <div class="main-menu pull-right">
            {% include "/_bricks/header-menu.twig" with {'page': page, 'menu': menu.index.children, 'level': 0} %}
        </div>
        <div class="clear"></div>
    </div>
    
</header>