<header>
    <div class="container">

        <div class="logo">
            <a href="{{ basePath }}" title="Temple">
            <img class="img-responsive pull-left" src="{{ basePath }}/assets/img/logo.png" alt="temple">
            </a>
            <div class="title pull-left">Temple</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="distance"></div>
</header>