@white: #fff;
@black: #252a30;
@font-color: #58626d;
@primary: #e92d5c;
@seconday: #2ea8ac;
@success: #783289;
@danger: #ea6d66;
@grey: #9DA2AC;

@body-bg: @white;

@font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@heading-font-family: @font-family;
@font-size: 15px;
@font-weight: 200;

@header-height: 70px;
@header-bg: @seconday;
@content-padding: 25px;